/*Universal Selector*/
* {
  margin: 0;
  padding: 0;
}

/*Element Selectors */
body {
  position: relative;
  font-family: "Helvitica", sans-serif;
  font-size: 20px;
  background-color: #fdf8f5;
  color: #4f4846;
}
h1,
h2 {
  margin: 20px;
}

main {
  padding: 60px 0;
}

li {
  display: inline;
  padding: 0px 20px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #fdf8f5;
}

header,
footer {
  height: 70px;
  width: 100%;
  line-height: 60px;
  background-color: #4287f5;
}

header {
  position: fixed;
  box-shadow: 2px 4px 8px #888888;
}

footer {
  position: absolute;
  margin-top: 0;
  bottom: 0;
  box-shadow: 2px 4px 8px #888888;
}

figure {
  margin-bottom: 40px;
}

img {
  display: block;
  margin: 20px auto;
}

form {
  /* Center the form on the page */
  margin: 30px auto;
  width: 500px;
  padding: 10px;
  border: 5px solid #2f5ca3;
  border-radius: 20px;
}

label {
  display: inline-block;
  width: 100px;
}

input,
textarea {
  box-sizing: border-box;
  width: 300px;
  border: 1px solid #4f4846;
}

textarea {
  vertical-align: top;
  height: 60px;
}

button {
  height: 40px;
  width: 120px;
  background-color: #4f4846;
  color: #fdf8f5;
}

/* Class Selectors */
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
